In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
from scipy.stats import pearsonr
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScalerd
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score

In [2]:
data=['age','job','marital','education','default','housing','loan','contact','month','day_of_week','duration','campaign',
      'pdays','previous','poutcome','emp.var.rate','cons.price.idx','cons.conf.idx','euribor3m','nr.employed','y']

In [3]:
bank=pd.read_csv("C:/Users/Admin/Documents/bank.csv",sep=";",names=data,header=0)
bank.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [4]:
bank.shape

(41188, 21)

In [5]:
bank.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [6]:
bank.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

<h3>2) Missing values</h3>

In [7]:
bank.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

<h3>Label encoder</h3>

In [8]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder() 
bank['job']= label_encoder.fit_transform(bank['job'])
bank['marital']= label_encoder.fit_transform(bank['marital'])
bank['education']= label_encoder.fit_transform(bank['education'])
bank['default']= label_encoder.fit_transform(bank['default'])
bank['housing']= label_encoder.fit_transform(bank['housing'])
bank['loan']= label_encoder.fit_transform(bank['loan'])
bank['contact']= label_encoder.fit_transform(bank['contact'])
bank['month']= label_encoder.fit_transform(bank['month'])
bank['day_of_week']= label_encoder.fit_transform(bank['day_of_week'])
bank['poutcome']= label_encoder.fit_transform(bank['poutcome'])
bank['y']= label_encoder.fit_transform(bank['y'])

In [24]:
y=bank.y
x=bank[['age','job','marital','education','default','housing','loan','contact','month','day_of_week','duration',
        'campaign','pdays','previous','poutcome','emp.var.rate','cons.conf.idx','euribor3m','nr.employed']]

In [25]:
from sklearn.preprocessing import MinMaxScaler

In [30]:
scaler=MinMaxScaler()
print(scaler.fit(bank))

MinMaxScaler()

In [31]:
scalerdata=scaler.transform(bank)
print(scaler.transform(bank))

[[0.48148148 0.27272727 0.33333333 ... 0.95737928 0.85973535 0.        ]
 [0.49382716 0.63636364 0.33333333 ... 0.95737928 0.85973535 0.        ]
 [0.24691358 0.63636364 0.33333333 ... 0.95737928 0.85973535 0.        ]
 ...
 [0.48148148 0.45454545 0.33333333 ... 0.08932215 0.         0.        ]
 [0.33333333 0.81818182 0.33333333 ... 0.08932215 0.         1.        ]
 [0.7037037  0.45454545 0.33333333 ... 0.08932215 0.         0.        ]]

In [32]:
X= pd.DataFrame(scalerdata)

In [34]:
from sklearn.feature_selection import SelectFromModel

In [35]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2,random_state=100)

<h3>Logistic Regression</h3>

In [42]:
from sklearn.linear_model import LogisticRegression as LR
model=LR(random_state=0).fit(train_x,train_y)
print("Train Score =",model.score(train_x,train_y))
print("Test Score =",model.score(test_x,test_y))
predicted_y=model.predict(test_x)

Train Score = 0.9071623672230652
Test Score = 0.907623209516873

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

<h3>Ada Boosting</h3>

In [43]:
from sklearn.ensemble import AdaBoostRegressor
regress=AdaBoostRegressor(random_state=0, n_estimators=100)
regress.fit(train_x, train_y)

AdaBoostRegressor(n_estimators=100, random_state=0)

In [45]:
regress.score(train_x,train_y)

0.2303429959229948

In [46]:
regress.score(test_x,test_y)

0.21025526242940207

In [47]:
prdic_y=regress.predict(test_x)

In [49]:
from sklearn.metrics import mean_squared_error
mean_squared_error(test_y,prdic_y,squared=False)

0.2776294399260033

<h3>Nave bayes</h3>

In [50]:
from sklearn.naive_bayes import GaussianNB
gnb= GaussianNB()
gnb.fit(train_x,train_y)

GaussianNB()

In [51]:
pred_y=gnb.predict(test_x)
gnb.score(test_x,test_y)

0.8454722019907744

In [52]:
from sklearn import metrics
print("Gaussian Naive Bayes model accuracy(in%):",metrics.accuracy_score(test_y,pred_y)*100)

Gaussian Naive Bayes model accuracy(in%): 84.54722019907744

<h3>KNN</h3>

In [59]:
from sklearn.neighbors import KNeighborsClassifier
classifier= KNeighborsClassifier(n_neighbors=21, metric='minkowski', p=2 )
classifier.fit(train_x, train_y)

KNeighborsClassifier(n_neighbors=21)

In [61]:
prediction=classifier.predict(test_x)

In [62]:
classifier.score(test_x,test_y)

0.9095654285020636

<h3>SVC</h3>

In [63]:
from sklearn.svm import SVC
svc_model=SVC(kernel="linear")
svc_model.fit(train_x,train_y)

SVC(kernel='linear')

In [64]:
prediction=svc_model.predict(test_x)

In [65]:
svc_model.score(test_x,test_y)

0.8999757222626851